
.opLog_table{
  font-size: 16px;
}

.opLog_table td{
  padding: 3px;
}

td[name='opTime']{
  width: 8%;
}

td[name='active']{
  width: 5%;
}

td[name='category']{
  width: 7%;
}

#searchFilterDiv{
  height: 50px;
}

.oneKey_table{
  font-size: 24px;
}

td[name='oneKeyBtn']{
  width: 25%;
}
td[name='parameter']{
  width: 25%;
}
td[name='description']{
  width: 50%;
}
