
#reportTable{
  margin: auto;
  display:block; 
  overflow:auto; 
  white-space:nowrap;
  text-align: center;
  max-height: 600px;
  font-size: 20px;
}

#reportTable td{
  padding: 5px;
}

#searchFilterDiv{
  text-align:center; 
  margin:20px auto;
  position: relative;
}

#searchFilterDiv .selDepartment{
  vertical-align: top !important;
}
#searchFilterDiv table{
  margin: auto;
}

.setDateBtn{
  position: relative;
  top: -2px;
  left: 20px;
}
.setDateBtn input{
  zoom: 80%;
}


.title{
  background-color: burlywood;
}
.takeRest{
  background-color: lightgreen;
}
.abnormal{
  background-color: lightpink;
}

#displayTable{
  text-align: center;
  overflow:auto;
  margin: auto;
  max-width: 1000px;
}

#annualTable{
  text-align:center;
  margin: auto;
  font-size:25px;
  display: none;
}
#annualLogsTable td[name='note']{
  width: 25%;
  word-wrap:break-word;
  word-break:break-all;
}

#annualTable th, #annualTable td{
  padding: 10px;
}

#annualDaysTable tr[name='addUpAnnualStatusRow']{
  font-size: 20px;
}
#annualDaysTable input[name='editRemainDays']{
  width: 50px;
}
#annualDaysTable input[name='editDeadLine']{
  width: 180px;
}
#annualDaysTable input[name='editReason']{
  width: 400px;
}
#annualDaysTable .addUp_spDays{
  margin-bottom: 10px;
}
