#reportTable{
  display:block; 
  overflow:auto; 
  white-space:nowrap;
  text-align: center;
  max-height: 600px;
  font-size: 20px;
}

#reportTable td{
  padding: 5px;
}

#searchFilterDiv{
  text-align:center; 
  margin:20px auto;
  position: relative;
}

#searchFilterDiv .selDepartment{
  vertical-align: top !important;
}
#searchFilterDiv table{
  margin: auto;
}



.setDateBtn{
  position: relative;
  top: -2px;
  left: 20px;
}
.setDateBtn input{
  zoom: 80%;
}



.title{
  background-color: burlywood;
}
.takeRest{
  background-color: lightgreen;
}
.abnormal{
  background-color: lightpink;
}

